parameters:
    doctrine:
        port: 3307
        host: db
        user: root
        password: iot
        dbname: iot
    mqtt:
        host: 147.232.205.176
        port: 1883
        clientId: nette-mqtt-client
        light-topic: kpi/dune/metrics/plant/light/light-state
        humidity-topic: kpi/dune/metrics/plant/moisture/hd519cq
        image-topic: kpi/dune/metrics/plant/image